@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Sigmar+One&display=swap');

body {
    padding: 0px;
    margin: 0px;
}

div.page {
    margin: 0px auto;
    padding: inherit;
    border: thin solid red;
    font-family: 'Roboto', sans-serif;
    width: 1000px;
}

#mainHeader {
    border-bottom: thin solid red;
    height: 100px;
    padding: 0px;
    text-align: center;
}

#mainHeader h1 {
    margin: 20px 0px;
    font-family: 'Sigmar One', cursive;
    font-size: 40px;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
}

#indexes {
    border-bottom: thin solid red;
}

ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
}

li {
    border-right: 1px solid #dadada;
    padding: 0px 10px 2px;
    list-style: none;
    width: 170px;
}

li#last {
    border: none;
}

li h4 {
    font-size: 17px;
    max-height: 17px;
    overflow: hidden;
    margin: 5px 0px;
    text-align: center;
}

li div {
    display: flex;
    justify-content: center;
}

span {
    padding: 0px 7px 0px 0px;
    margin: 0px 7px 0px 0px;
}

span.price {
    border-right: 1px solid #dadada;
}



/*body {
    margin: 0px;
}

div.page {
    margin: 0px auto;
    width: 1000px;
}

#mainHeader {
    border: thin solid rgba(144, 144, 144, 0.904);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    height: 100px;
}

#mainHeader h1 {
    margin: 25px auto;
}

section#indexes {
    margin: inherit;
}

ul {
    text-align: center;
    padding: 0;
    margin: 0px;
    height: 70px;
    border: thin solid rgba(144, 144, 144, 0.904);
}

li{
    list-style-type: none;
    padding: 10px 5px;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    margin: 0px;
    width: 18%;
    border-right: 1px solid rgba(144, 144, 144, 0.904);
    display: inline-block;
}

#last {
    border: none;
}

.indexName {
    margin: 0px;
    text-align: center;
}

.values {
    margin: 0px;
    padding: 10px 0px;
}

.price {
    padding: 0px 10px 0px 5px;
    border-right: 1px solid rgba(144, 144, 144, 0.904);
    text-align: left;
    float: left;
}

.val {
    text-align: right;
    float: right;
}

#content{
    height: 500px;
    width: 650px;
    border: thin solid rgba(144, 144, 144, 0.904);
    float: left;
}

hgroup {
    float: left;
    border: thin solid rgba(144, 144, 144, 0.904);
}

form {
    float: right;
}

aside {
    height: 500px;
    border: thin solid rgba(144, 144, 144, 0.904);
}

.chart {
    clear: both;
    border: thin solid rgba(144, 144, 144, 0.904);
    margin: 0px 10px;
    height: 100px;
    width: 300px;
}

#one {
    width: 95%;
} */