@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Sigmar+One&display=swap');

* {
    color: #202124;
}

body {
    padding: 0px;
    margin: 0px;
}

div.page {
    margin: 0px auto;
    padding: inherit;
    border: thin solid red;
    font-family: 'Roboto', sans-serif;
    width: 1100px;
}

#mainHeader {
    border-bottom: thin solid red;
    height: 100px;
    padding: 0px;
    text-align: center;
}

#mainHeader h1 {
    margin: 20px 0px;
    font-family: 'Sigmar One', cursive;
    font-size: 40px;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
}

#indexes {
    border-bottom: thin solid red;
}

ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
}

li {
    border-right: 1px solid #dadada;
    padding: 0px 10px 2px;
    list-style: none;
    width: 170px;
}

li#last {
    border: none;
}

li h4 {
    font-size: 17px;
    max-height: 17px;
    overflow: hidden;
    margin: 5px 0px;
    text-align: center;
}

li div {
    display: flex;
    justify-content: center;
}

span {
    padding: 0px 7px 0px 0px;
    margin: 0px 7px 0px 0px;
}

span.price {
    border-right: 1px solid #dadada;
}

div#divContent {
    padding: 0px 15px;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
}

section#content {
    width: 60%;
    border-right: 1px solid #dadada;
}

#contentHeader {
    color: #202124;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 10px;
}

label {
    font-size: large;
}

#selection {
    text-transform: uppercase;
    background-color: white;
    border: 1px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
    border-radius: 2px;
    padding: 4px 10px;
}

#navButtons {
    padding: 5px 10px;
}

button {
    text-transform: uppercase;
    background-color: white;
    border: 1px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
    border-radius: 2px;
    padding: 4px 17px;
}

button:hover {
    box-shadow: 2px 4px 5px gray;
}

button:active {
    background-color: #00c3ff;
    border: 1px solid rgb(0, 107, 194);
    border-bottom: 2px solid rgb(0, 107, 194);;
}

div#one {
    max-width: 100%;
    min-height: 500px;
}

footer {
    margin-top: 15px;
}

footer#oneFoot{
    display: flex;
    justify-content: space-between;
}

div.footerContent {
    font-size: 14px;
    padding: 0px 15px 10px;
    width: 33.333%;
}

table {
    width: 100%;
}

.labels {
    float: left;
    color: #3c4043;
}

.labelsValue {
    float: right;
    color: #70757a;
}

aside {
    margin: 0px;
    width: 40%;
    padding: 0px 15px;
}

aside header {
    margin-left: 15px;
}

div#two {
    max-width: 100%;
    min-height: 359px;
    border: thin solid rebeccapurple;
}

footer#secondFoot {
    display: flex;
    justify-content: space-between;
}

div.footerContent2 {
    font-size: 14px;
    padding: 0px 15px 10px;
    width: 49%;
}