@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
body {
    margin: 0px;
    border: thin solid black;
}

div {
    width: 1000px;
    margin: 0px auto;
}

.header {
    text-align: center;
    border: thin solid red;
}

.indexes {
    border: thin solid purple;
    height: 75px;
}

table {
    height: inherit;
    width: 100%;
    padding: 0px;
    border: thin solid olive;
    margin: 0px;
}

td {
    height: inherit;
    border: thin solid deeppink;
    padding-top: 5px;
}

.name {
    margin: 0px;
    text-align: center;
    border: thin solid chartreuse;
    font-size: larger;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

span {
    font-size: large;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

.vol {
    margin-right: 0px;
    padding-right: 10px;
    border-right: medium solid red;
    float: left;
}

.value {
    float: right;
}