body {
    margin: 0px;
    border: thin solid burlywood;
}

div {
    margin: 0px;
    border: thin solid red;
}

div.page {
    margin: 0px auto;
    width: 1000px;
    border: thin solid blueviolet;
}

div.header {
    min-height: 100px;
    max-height: 100px;
    margin: 0px;
    text-align: center;
}

table {
    min-height: 50px;
    width: 100%;
    border: medium solid greenyellow;
}

td {
    border: thin solid orange;
}
p {
    border: thin solid purple;
    text-align: center;
}
span {
    border: thin solid lightsalmon;
}

.value {
    float: right;
}