body {
    margin: 0px;
    border: thin solid burlywood;
}

div {
    margin: 0px;
    border: thin solid red;
}

div.page {
    margin: 0px auto;
    width: 1000px;
    border: thin solid blueviolet;
}

div.header {
    max-height: 200px;
    min-height: 200px;
    margin: 0px;
    text-align: center;
}

table {
    min-height: 100px;
    width: 100%;
    border: medium solid greenyellow;
}

td {
    border: thin solid orange;
}