<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'stockmonitor/styles.css' %}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
    <div class="page">
        <header id="mainHeader">
            <h1>MB Stock Monitor</h1>
        </header> <!-- Main header -->
        <section id="indexes">
            <ul>
                <li>
                    <h4 class="indexName" id="nameOne">Name</h4>
                    <div class="values">
                        <span class="price">R$4.54</span><span class="var">+123.45%</span>
                    </div>
                </li>
                <li>
                    <h4 class="indexName" id="nameTwo">Name</h4>
                    <div class="values">
                        <span class="price">R$41324.54</span><span class="var">-1.45%</span>
                    </div>
                </li>
                <li>
                    <h4 class="indexName" id="nameThree">Name</h4>
                    <div class="values">
                        <span class="price">R$4124.54</span><span class="var">+123.45%</span>
                    </div>
                </li>
                <li>
                    <h4 class="indexName" id="nameFour">viniciusdddaa baggioffjsaflafafjjf</h4>
                    <div class="values">
                        <span class="price">R$4.54</span><span class="var">-1.45%</span>
                    </div>
                </li>
                <li id="last">
                    <h4 class="indexName" id="nameFive">Name</h4>
                    <div class="values">
                        <span class="price">R$41324.54</span><span class="var">+123.45%</span>
                    </div>
                </li>
            </ul>
        </section> <!-- Indexes -->
        <div id="divContent">
            <section id="content">
                <header id="contentHeader">
                    <hgroup>
                        <h1 id="actionName" class="cont1">Nome da ação</h1> 
                        <h2 id="actionValue">Valor</h2> BRL
                        <p id="time">oi</p>
                    </hgroup>
                    <div class="container">
                        <div class="autocomplete">
                            <input type="text" name="sigla" id="input-text" class="input-text cont1" placeholder="sigla">
                        </div>
                        <button id="submit" class="cont1 submitbts">OK</button>
                    </div>
                </header>
                <div id="navButtons">
                    <button class="buttons" id="bt1">1d</button>
                    <button class="buttons" id="bt2">1s</button>
                    <button class="buttons" id="bt3">1m</button>
                    <button class="buttons" id="bt4">6m</button>
                    <button class="buttons" id="bt5">1a</button>
                    <button class="buttons" id="bt6">5a</button>
                    <button class="buttons" id="bt7">all</button>
                </div>
                <div class="chart" id="one"></div>
                <footer id="oneFoot">
                    <div class="footerContent">
                        <table>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">Valores</td>
                            </tr>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">Valores</td>
                            </tr>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">Valores</td>
                            </tr>
                        </table>
                    </div>
                    <div class="footerContent">
                        <table>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">Valores</td>
                            </tr>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">Valores</td>
                            </tr>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">Valores</td>
                            </tr>
                        </table>
                    </div>
                    <div class="footerContent">
                        <table>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">Valores</td>
                            </tr>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">Valores</td>
                            </tr>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">Valores</td>
                            </tr>
                        </table>
                    </div>
                </footer>
            </section> <!-- Principal chart -->
            <aside>
                <header id="asideHeader">
                    <hgroup>
                        <h1 class="cont2">Nome da ação</h1> 
                        <h2>Valor</h2> BRL
                    </hgroup>
                    <div class="container" id="container2">
                        <div class="autocomplete">
                            <input type="text" name="sigla" id="input-text2" class="input-text cont2" placeholder="sigla">
                        </div>
                        <button id="submit2" class="cont2 submitbts">OK</button>
                    </div>
                </header>
                <div class="chart" id="two"></div>
                <footer id="secondFoot">
                    <div class="footerContent2">
                        <table>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">value</td>
                            </tr>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">value</td>
                            </tr>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">value</td>
                            </tr>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">value</td>
                            </tr>
                        </table>
                    </div>
                    <div class="footerContent2">
                        <table>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">value</td>
                            </tr>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">value</td>
                            </tr>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">value</td>
                            </tr>
                            <tr>
                                <td class="labels">Property</td>
                                <td class="labelsValue">value</td>
                            </tr>
                        </table>
                    </div>
                </footer>
            </aside> <!-- Second chart -->
        </div>
    </div> <!-- Page -->
    <script type="module" src="{% static 'stockmonitor/script.js' %}"></script>
</body>

</html>